# Ignore Python cache and virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.faiss

# Ignore environment variables
.env

# Ignore virtual environment folders
.venv/
env/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore CSV/Excel data files
*.csv
*.xlsx
*.xls
